* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-around;
  background-image: url('../assets/background.jpg');
  background-size: cover;
  font-family: 'Righteous', cursive;
}

h1 {
  text-align: center;
  color: whitesmoke;
  font-size: 50px;
}

.grid-wrapper {
  display: center;
  /* flex: 3; */
  width: 580px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.grid {
  align-items: center;
  /* background-color: aqua; */
  box-shadow: 
  1px 1px rgba(0, 0, 0, 0.3), 
  inset 2px 2px rgba(255, 255, 255, 0.3),
  2px 2px 3px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
  color: white;
  font-size: 20px;

}

.grid div {
  height: 35px;
  width: 35px;
} 

.bigAlien {
  background-color: #7845A4;
}


.laser {
  background-image: url('../assets/laser.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.bomb {
  background-image: url('../assets/redLaser.png');
  background-repeat: no-repeat;
  background-size: 50%;
}



.alien {
  background-image: url('../assets/alien-green.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
}

.alien2 {
  background-image: url('../assets/alien-blue.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}

.parasite {
  background-image: url('../assets/alien-orange.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;

}
.pink {
  background-image: url('../assets/alien-pink.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;

}
.turq {
  background-image: url('../assets/alien-turq.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;

}


.spaceship {
  background-image: url('../assets/spaceship.jpeg');
  background-repeat: no-repeat;
  background-size: contain;
}


.score {
  font-size: 20px;
  color: whitesmoke;
  display: flex;
  justify-content: space-around;
}

button {
  margin: 0 50px;
  border: solid 2px white;
  color: white;
  background-color: green;
  font-size: 20px;
  font-family: 'Righteous', cursive;
  display: inline;
  float: right;
}

.end {
  background-image: url('../assets/rick.png')
}

.nextLevel {
  font-size: 20px;
  color: whitesmoke;
  text-align: center;
  margin: 15px;

}